.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.horizontal-center {
  margin: 0 auto;
}

.mt-5 {
  margin-top: 100px;
}

.full-width-input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.text-center {
  text-align: center;
}
