<mat-card class="card horizontal-center mt-5">
  <mat-card-title>Sign Up Form</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Firstname</mat-label>
        <input
          formControlName="firstname"
          matInput
          type="text"
          placeholder="Ex. Jay"
        />
        <mat-error>Please enter a valid firstname</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Lastname</mat-label>
        <input
          formControlName="lastname"
          matInput
          type="text"
          placeholder="Ex. Pritchett"
        />
        <mat-error>Please enter a valid lastname</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
          placeholder="Ex. jay@email.com"
        />
        <mat-error>Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hidePass ? 'password' : 'text'"
          placeholder="Ex. 123456"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePass = !hidePass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePass"
        >
          <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Please enter a valid password</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input
          formControlName="cpassword"
          matInput
          [type]="hideCpass ? 'password' : 'text'"
          placeholder="Ex. 123456"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideCpass = !hideCpass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCpass"
        >
          <mat-icon>{{ hideCpass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Please enter a valid confirm password</mat-error>
      </mat-form-field>
      <mat-error *ngIf="!passwordMatch"
        >Both the passwords donot match</mat-error
      >
      <mat-checkbox formControlName="acceptTerms" color="primary"
        >Check me!</mat-checkbox
      >

      <button
        style="display: block; margin-top: 10px"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        <mat-progress-spinner
          color="accent"
          mode="indeterminate"
          *ngIf="isLoading | async"
          [diameter]="30"
        ></mat-progress-spinner>
        <span *ngIf="!(isLoading | async)"> Signup </span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
