<form [ngSwitch]="data.controlType">
  <div *ngSwitchCase="'textbox'">
    <h1>Edit Textbox value</h1>
    <mat-form-field class="full-width-input" appearance="outline">
      <mat-label>Label </mat-label>
      <input matInput type="text" name="labelEdit" />
    </mat-form-field>
    <mat-form-field class="full-width-input" appearance="outline">
      <mat-label> Name</mat-label>
      <input matInput type="text" name="nameEdit" />
    </mat-form-field>
    <mat-form-field class="full-width-input" appearance="outline">
      <mat-label> Value </mat-label>
      <input matInput type="text" name="valueEdit" />
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <mat-label> Textbox Type </mat-label>
      <mat-select>
        <mat-option>Text</mat-option>
        <mat-option>Password</mat-option>
        <mat-option>Number</mat-option>
        <mat-option>Email</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngSwitchCase="'button'">
    <h1>Edit button value</h1>
    <mat-form-field class="full-width-input" appearance="outline">
      <mat-label> Value </mat-label>
      <input matInput type="text" name="valueEdit" />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Update</button>
</form>
